body {
	margin: 0;
	font-family: Tahoma, Arial, sans-serif;
	background: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
	color:#fff;
}

my-marquee {
	color:#ff0;
	font-weight:bold;
	background:#000;
	padding:0.3rem;
	border-top:2px solid #ff00aa;
	border-bottom:2px solid #ff00aa;
	display: block;
}